<!DOCTYPE html>
<html lang="en">


<!-- blank.html  21 Nov 2019 03:54:41 GMT -->

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Added Solutions</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/assets/css/app.min.css">
    <link rel="stylesheet" href="/assets/css/app.min.css">
    <link rel="stylesheet" href="/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/components.css">


    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel='shortcut icon' type='image/png' href='/assets/img/AddedSolutions.jpg' />

    <link href="https://preview.keenthemes.com/jet-html-pro/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <script src="https://preview.keenthemes.com/jet-html-pro/assets/plugins/global/plugins.bundle.js"></script>
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">

                    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i>
            </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread"> <span class="dropdown-item-icon bg-primary text-white"> <i class="fas
												fa-code"></i>
                  </span> <span class="dropdown-item-desc"> Template update is
                    available now! <span class="time">2 Min
                      Ago</span>
                                    </span>
                                </a>
                                <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="far
												fa-user"></i>
                  </span> <span class="dropdown-item-desc"> <b>You</b> and <b>Dedik
                      Sugiharto</b> are now friends <span class="time">10 Hours
                      Ago</span>
                                    </span>
                                </a>
                                <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-success text-white"> <i
                      class="fas
												fa-check"></i>
                  </span> <span class="dropdown-item-desc"> <b>Kusnaedi</b> has
                    moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">12
                      Hours
                      Ago</span>
                                    </span>
                                </a>
                                <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-danger text-white"> <i
                      class="fas fa-exclamation-triangle"></i>
                  </span> <span class="dropdown-item-desc"> Low disk space. Let's
                    clean it! <span class="time">17 Hours Ago</span>
                                    </span>
                                </a>
                                <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="fas
												fa-bell"></i>
                  </span> <span class="dropdown-item-desc"> Welcome to Otika
                    template! <span class="time">Yesterday</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="assets/img/user.png" class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello Sarah Smith</div>
                            <a href="profile.html" class="dropdown-item has-icon"> <i class="far
										fa-user"></i> Profile
                            </a>
                            <a href="timeline.html" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i> Activities
                            </a>
                            <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i> Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="auth-login.html" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/"> <img alt="image" src="/assets/img/AddedSolutions.jpg" class="header-logo" /> <span class="logo-name" style="color: green; font-size: 12pt;">AddedSolutions</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Main</li>
                        <li class="dropdown active">
                            <a href="/3mente/admin" class="nav-link"><i data-feather="grid"></i><span>Painel de Controlo</span></a>
                        </li>

                        <li class="menu-header">Conta</li>
                        <li class="dropdown">
                            <a href="/3mente/admin/perfil" class="nav-link"><i data-feather="user"></i><span>Perfil</span></a>
                        </li>

                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content" style="margin-top: -60px;">

                <!-- add content here -->
                <div class="section-body">
                    <div class="row mt-sm-4">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="card">
                                <div class="padding-20">
                                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#plano_aula" role="tab" aria-selected="true">Instituição</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#professor" role="tab" aria-selected="false">Ferramentas</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content tab-bordered" id="myTab3Content">
                                        <div class="tab-pane fade show active" id="plano_aula" role="tabpanel" aria-labelledby="home-tab2">
                                            <button type="button" data-toggle="modal" data-target=".add_i" class="btn btn-primary m-t-1 waves-effect" style="float: right;">Adicionar</button>

                                            <table class="table table-striped table-hover " style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Nome</th>
                                                        <th>Descricao</th>
                                                        <th>Local</th>
                                                        <th>E-mail</th>
                                                        <th>Contato</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% instituicoes.forEach(function(instituicao) { %>
                                                        <tr data-toggle="modal" data-target=".ver_i">
                                                            <td>
                                                                <%= instituicao.id %>
                                                            </td>
                                                            <td>
                                                                <%= instituicao.nome %>
                                                            </td>
                                                            <td>
                                                                <%= instituicao.descricao %>
                                                            </td>
                                                            <td>
                                                                <%= instituicao.local %>
                                                            </td>
                                                            <td>
                                                                <%= instituicao.email %>
                                                            </td>
                                                            <td>
                                                                <%= instituicao.contacto %>
                                                            </td>
                                                        </tr>
                                                        <% }); %>



                                                </tbody>
                                            </table>

                                        </div>

                                        <div class="tab-pane fade" id="professor" role="tabpanel" aria-labelledby="profile-tab2">
                                            <button type="button" data-toggle="modal" data-target=".add" class="btn btn-primary m-t-1 waves-effect" style="float: right;">Adicionar</button>
                                            <table class="table table-striped table-hover " style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Nome</th>
                                                        <th>Descrição</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% ferr.forEach(function(f) { %>
                                                        <tr data-toggle="modal" data-target=".ver" @click="ferr_select(<%=  JSON.stringify(f) %> )">
                                                            <td>
                                                                <%= f.id %>
                                                            </td>
                                                            <td>
                                                                <%= f.nome %>
                                                            </td>
                                                            <td>
                                                                <%= f.descricao %>
                                                            </td>
                                                        </tr>
                                                        <% }); %>


                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>


        <div class="modal fade bd-example-modal-lg add_i Close" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myLargeModalLabel">Instituição</h5>

                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                            <span class="svg-icon svg-icon-2x">fffff</span>
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        </div>
                        <button type="button" class="close" @click="close_i" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body row">
                        <form class="col-6">
                            <div class="form-group">
                                <label>Nome da Instituição</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nome da Instituição" name="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Contacto da Instituição</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Contato da Instituição" name="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Local da Instituição</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Local da Instituição" name="email">
                                </div>
                            </div>


                            <div class="row">
                                <label class="d-block col-12">Ferramentas</label>
                                <div class="input-group col-12">
                                    <input style="border-style: none; border-radius:20px ;" value="f1,f2" id="kt_tagify_6" />
                                </div>

                            </div>
                        </form>

                        <form class="col-6">
                            <div class="form-group">
                                <label>Nome do Responsável</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nome do Responsável" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Contato do Responsável</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Contato do Responsável" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email do Responsável</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email do Responsável" name="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Username do Responsável</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username do Responsável" name="email">
                                </div>
                            </div>
                            <button type="button" id="swal-2" data-dismiss="modal" class="btn btn-primary m-t-15 waves-effect">LOGIN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade bd-example-modal-lg ver_i Close" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myLargeModalLabel">Instituição</h5>
                        <button type="button" class="close" @click="close_i" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body row">
                        <form class="col-6">
                            <div class="form-group">
                                <label>Nome da Instituição</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nome da Instituição" name="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Contacto da Instituição</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Contato da Instituição" name="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Local da Instituição</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Local da Instituição" name="email">
                                </div>
                            </div>


                            <div class="row">
                                <label class="d-block col-12">Ferramentas</label>
                                <div class="input-group col-12">
                                    <input style="border-style: none; border-radius:20px ;" value="f1,f2" id="kt_tagify_7" />
                                </div>

                            </div>
                        </form>

                        <form class="col-6">
                            <div class="form-group">
                                <label>Nome do Responsável</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nome do Responsável" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Contato do Responsável</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Contato do Responsável" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email do Responsável</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email do Responsável" name="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Username do Responsável</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username do Responsável" name="email">
                                </div>
                            </div>
                            <button type="button" id="swal-2" data-dismiss="modal" class="btn btn-primary m-t-15 waves-effect">LOGIN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade add Close" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Ferramenta</h5>
                        <button type="button" class="close" @click="close_i" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form class="">
                            <div class="form-group">
                                <label>Nome</label>
                                <div class="input-group">
                                    <input v-model="ferrameta_add.nome" type="text" class="form-control" placeholder="Nome" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Descrição</label>
                                <div class="input-group">
                                    <textarea class="form-control" v-model="ferrameta_add.descricao">
                                  </textarea>
                                </div>
                            </div>

                            <button style="float: right;" type="button" id="swal-2" data-dismiss="modal" class="btn btn-primary m-t-15 waves-effect">Criar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade ver Close" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModal">Ferramenta</h5>

                        <button type="button" class="close" @click="close_i" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                        <form class="">
                            <div class="form-group">
                                <label>Nome</label>
                                <div class="input-group">
                                    <input v-model="ferrameta.nome" type="text" class="form-control" placeholder="Nome" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Descrição</label>
                                <div class="input-group">
                                    <textarea class="form-control" v-model="ferrameta.descricao">
                                </textarea>
                                </div>
                            </div>
                            <button type="button" style="float: right;margin-left: 10px;" data-dismiss="modal" class="btn btn-danger m-t-15 waves-effect">Eliminar</button>
                            <button type="button" style="float: right;" data-dismiss="modal" class="btn btn-primary m-t-15 waves-effect">Salvar</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <!-- General JS Scripts -->
    <script src="/assets/js/app.min.js"></script>
    <!-- JS Libraies -->

    <script src="/assets/bundles/datatables/datatables.min.js"></script>
    <script src="/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/bundles/jquery-ui/jquery-ui.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/assets/js/page/datatables.js"></script>
    <script src="/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/assets/js/axios.js"></script>
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/assets/js/custom.js"></script>


    <script>
        var table = $('.table').DataTable({

            lengthMenu: [5, 10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sSearch": "Buscar"
            }
        });

        $('.table tbody').on('click', 'tr', function() {
            $(this).toggleClass('selected');
            /*
       $('#exampleModal').modal({
          show: true,

      });

      */
        });


        // The DOM elements you wish to replace with Tagify
        var input = document.querySelector("#kt_tagify_6");


        new Tagify(input, {
            whitelist: ["f1", "f2", "f3", "f4", "f5", "f6", "f7", "f8", "f9", "f10", "f11"],
            maxTags: 11,
            dropdown: {
                maxItems: 30, // <- mixumum allowed rendered suggestions
                classname: "", // <- custom classname for this dropdown, so it could be targeted
                enabled: 0, // <- show suggestions on focus
                closeOnSelect: false // <- do not hide the suggestions dropdown once an item has been selected
            }
        });


        var input1 = document.querySelector("#kt_tagify_7");


        new Tagify(input1, {
            whitelist: ["f1", "f2", "f3", "f4", "f5", "f6", "f7", "f8", "f9", "f10", "f11"],
            maxTags: 11,
            dropdown: {
                maxItems: 30, // <- mixumum allowed rendered suggestions
                classname: "", // <- custom classname for this dropdown, so it could be targeted
                enabled: 0, // <- show suggestions on focus
                closeOnSelect: false // <- do not hide the suggestions dropdown once an item has been selected
            }
        });

        var app = new Vue({
            el: '#app',
            data: {
                instituicoes: [],
                ferrametas: [],
                instituicao: {},
                ferrameta: {},
                ferrameta_add: {
                    nome: "ddd",
                    descricao: "ddddddddddddddd"
                },
                instituicao_add: {}
            },
            methods: {

                close_i: function() {
                    $('.add_i').modal({
                        show: false,

                    });

                    console.log("dddd----ddddd")
                },

                ferr_select: async(ferr) => {



                    app.ferrameta = ferr

                    console.log(this.ferrameta, "--")

                },
                obsCreate(event) {
                    event.preventDefault();

                    let obs = {

                        utente: this.utente.id,
                        descricao: this.observacao,


                    }

                    console.log(obs, this.utente.id)
                    axios
                        .post('/api/observacaos', {
                            data: obs,

                        })
                        .then(({
                            data
                        }) => {

                            swal('Observação', 'Ação feita com sucesso!!', 'success').then(() => {

                                $('#add').modal({
                                    show: false,

                                });

                            });


                            console.log(data)
                        })
                        .catch(error => {
                            console.log('An error occurred:', error.response);

                            iziToast.error({
                                title: '3@Mente!',
                                message: "Falha ao adicionar a observação",
                                position: 'topRight'
                            });

                        });


                },
            },
            created: async() => {



            }
        });
    </script>
</body>


<!-- blank.html  21 Nov 2019 03:54:41 GMT -->

</html>